[
  {
    "targets": [
      "localhost:9090",
    ],
    "labels": {
      "node": "control",
      "target": "prometheus"
      "group": "sd",
      "type": "file"
    }
  },
  {
    "targets": [
      "192.168.35.11:9100",
    ],
    "labels": {
      "node": "pod-1",
      "target": "node-exporter"
      "group": "sd",
      "type": "file"
    }
  },
  {
    "targets": [
      "192.168.35.11:8888"
    ],
    "labels": {
      "node": "pod-1",
      "target": "c-advisor"
      "group": "sd",
      "type": "file"
    }
  }
]